<?xml version="1.0" encoding="UTF-8"?>
<beans>  
<!-- <beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> -->
  
    <bean id="s" class="com.pojo.Student">
       <property name="name" value="Prateek"/>
       <property name="rollNo" value="63"/>
    </bean>
 
</beans>